:root {
  --primary-color: #ffe341;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--primary-color);
}

.pokemon-head {
  align-items: center;
  display: flex;
  color: var(--primary-color);
}

.pokemon-title {
  color: var(--primary-color);
  margin: 0 4px;
}

.pokemon-main {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pokemon-row {
  display: flex;
  max-width: 100%;
}

.pokemon-image {
  border-radius: 4px;
  margin: 8px;
  height: 150px;
}

.pokemon-subtitle {
  margin: 8px;
  font-size: 18px;
}

.pokemon-properties {
  width: 270px;
}

.pokemon-properties:first-child {
  text-align: center;
}

.pokemon-properties__list {
  list-style: none;
  padding-left: 20px; 
}

.pokemon-properties__list {
  list-style: none;
  padding-left: 20px; 
}

.pokemon-properties__item {
  margin: 4px 0px;
}

.pokemon-properties__label {
  font-weight: 500;
}

.pokemon-properties__value {
  color: var(--primary-color);
}

.footer {
  margin-top: 32px;
  text-align: center;
}

@media (max-width: 480px) {
  .pokemon-head {
    justify-content: center;
  }

  .pokemon-row {
    align-items: center;
    flex-direction: column;
  } 

  .pokemon-properties {
    text-align: center;
  }

  .pokemon-properties__list {
    padding-left: 0; 
  }
}